body {
    background-color: rgb(61, 95, 61);
}

.gamewindow {
    margin-top: 150px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    width: 800px;
    overflow: hidden;
    border: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(25, 38, 25);
}

.gamewindowforest {
    background-image: url(../img/bakgrunden.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-position: bottom;
}
.gamewindowsky {
    height: 100%;
    width: 100%;
    background-image: url(../img/himlen.png);
    border-radius: 10px;
    position: absolute;
    background-size: cover;
    background-position: bottom;
    top: 0;
    left: 0;
    z-index: 0;
}

.centercolumn {
    margin: auto;
    width: 800px;
}

.meteor {
    position: absolute;
    left: 570px;
    top: 0px;
    width: 160px;
    opacity: 70%;
    filter: blur(2px);
    animation: shake 8s;
    animation-iteration-count: infinite;
    z-index: 10;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


canvas {
    background: transparent;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
}